# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
*.env

# Jupyter / Colab
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model artifacts
# *.pkl
*.sav
*.joblib

# Cache / temp
.cache/
tmp/
*.tmp

# Build artifacts
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Docker
*.tar

# PyCharm
.idea/

# Node (if frontend exists in repo)
node_modules/
